{% load static %}
<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img id="navbar-logo" src="{% static 'img/trippler/svg/Color logo - no background.svg' %}" height="45" class="d-inline-block align-top" alt="Bootstrap" loading="lazy"
           style="filter: invert(1) grayscale(100%) brightness(200%);">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/expenses/' %}active{% endif %}" href="{% url 'expenses' %}">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expenses' %}">Trips</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">&nbsp;
            {{ user.get_short_name|truncatechars:10 }}
          </a>
          <ul class="dropdown-menu text-small shadow dropdown-menu-end">
            <li class="dropdown-item disabled">{{ user.email }}</li>
            {% if user.is_admin %}
              <li class="dropdown-item">
              <a href="{% url 'admin:index' %}">Admin Console</a>
              </li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
          </ul>
        </div>
      {% else %}
        <div class="col-md-3 text-end">
          <button
            class="btn btn-outline-primary me-2"
            href="{% url 'login' %}"
            hx-get="{% url 'login' %}"
            hx-target="#login-dialog"
          >
            Login
          </button>
          <button
            class="btn btn-primary me-2"
            href="{% url 'register' %}"
            hx-get="{% url 'register' %}"
            hx-target="#login-dialog"
          >
            Sign up
          </button>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
